USE [master]
GO
/****** Object:  Database [Socket_MMT]    Script Date: 8/4/2021 10:23:26 AM ******/
CREATE DATABASE [Socket_MMT]
 GO

USE [Socket_MMT]
GO

CREATE TABLE [dbo].[CT_TranDau](
	[MaTD] [char](3) NOT NULL,
	[TenDoi] [varchar](50) NOT NULL,
	[SuKien] [smallint] NULL,
	[TenCauThu] [nvarchar](50) NULL,
	[ThoiGian] [varchar](3) NOT NULL,
 CONSTRAINT [PK_CT_TranDau] PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC,
	[TenDoi] ASC,
	[ThoiGian] ASC
)
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/4/2021 10:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TranDau](
	[MaTD] [char](3) NOT NULL,
	[DoiA] [varchar](50) NULL,
	[DoiB] [varchar](50) NULL,
	[TiSo] [varchar](5) NULL,
	[NgayThiDau] [date] NULL,
	[GioThiDau] [time](7) NULL,
 CONSTRAINT [PK_TranDau] PRIMARY KEY CLUSTERED 
(
	[MaTD] ASC
)
) ON [PRIMARY]
GO
INSERT [dbo].[CT_TranDau] ([MaTD], [TenDoi], [SuKien], [TenCauThu], [ThoiGian]) VALUES (N'001', N'Brazil', 2, N'NEYMAR JR ', N'26')
INSERT [dbo].[CT_TranDau] ([MaTD], [TenDoi], [SuKien], [TenCauThu], [ThoiGian]) VALUES (N'001', N'Brazil', 1, N'NEYMAR JR ', N'28')
INSERT [dbo].[CT_TranDau] ([MaTD], [TenDoi], [SuKien], [TenCauThu], [ThoiGian]) VALUES (N'001', N'Brazil', 1, N'NEYMAR JR ', N'70')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau]) VALUES (N'ada', N'123d')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau]) VALUES (N'alo123', N'alo')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau]) VALUES (N'duchieu', N'truc')
GO
INSERT [dbo].[TranDau] ([MaTD], [DoiA], [DoiB], [TiSo], [NgayThiDau], [GioThiDau]) VALUES (N'001', N'Brazil', N'Croatia', N'3-1', CAST(N'2014-06-12' AS Date), CAST(N'17:00:00' AS Time))
INSERT [dbo].[TranDau] ([MaTD], [DoiA], [DoiB], [TiSo], [NgayThiDau], [GioThiDau]) VALUES (N'002', N'México', N'Cameroon', N'1-0', CAST(N'2014-06-13' AS Date), CAST(N'13:00:00' AS Time))
INSERT [dbo].[TranDau] ([MaTD], [DoiA], [DoiB], [TiSo], [NgayThiDau], [GioThiDau]) VALUES (N'003', N'Brazil', N'México', N'0-0', CAST(N'2014-06-16' AS Date), CAST(N'16:00:00' AS Time))
GO
ALTER TABLE [dbo].[CT_TranDau]  WITH CHECK ADD  CONSTRAINT [FK_CT_TranDau_TranDau] FOREIGN KEY([MaTD])
REFERENCES [dbo].[TranDau] ([MaTD])
GO
ALTER TABLE [dbo].[CT_TranDau] CHECK CONSTRAINT [FK_CT_TranDau_TranDau]
GO
ALTER TABLE [dbo].[CT_TranDau]  WITH CHECK ADD  CONSTRAINT [CK_CT_TranDau_SuKien] CHECK  (([SuKien]>=(0) AND [SuKien]<=(3)))
GO
ALTER TABLE [dbo].[CT_TranDau] CHECK CONSTRAINT [CK_CT_TranDau_SuKien]
GO
USE [master]
GO
